{
  "plugins": ["jsx-a11y"],
  "extends": ["airbnb-typescript", "plugin:jsx-a11y/recommended"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/react-in-jsx-scope": 0,
    "import/prefer-default-export": 0,
    "react/prop-types": 0
  }
}